<div class="mentor-search-wrapper p20 bg-md-blue">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-3">
                <h3 class="text-white text-capitalize mb-0">Instructors</h3>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-9 p-r0">
                <div class="row text-right">
                    <div class="col-12 col-sm-auto col-md-auto p-l0">
                        <button type="button" class="btn btn-info">Course</button>
                    </div>
                    <div class="col-12 col-sm-auto col-md-auto p-lr0">
                        <button type="button" class="btn btn-info">Category</button>
                    </div>
                    <div class="col-12 col-sm-6 col-md-8">
                        <div class="input-group">
                            <!-- <input type="text" class="form-control" placeholder="Find Instructor"> -->
                            <div class="col-6 col-sm-6 col-md-4">
                            <select  class="form-control" [(ngModel)]="courseValue" (ngModelChange)="getCategorys($event)">
                                <option>Choose Course</option>
                                <option *ngFor="let course of courses" [ngValue]="course._id">{{course.courseName}}</option>
                
                            </select>
                        </div>
                        <div class="col-6 col-sm-6 col-md-4">
                            <select  class="form-control" [(ngModel)]="categoryValue">

                                <option disabled>Select Course</option>
                
                                <option>Choose Category</option>
                
                                <option *ngFor="let category of categorys" [ngValue]="category.id">{{category.categoryName}}</option>
                
                            </select>
                        </div>
                        <!-- <div class="col-6 col-sm-6 col-md-8">
                            <select formControlName="Course" class="form-control">

                                <option disabled>Select Course</option>
                
                                <option>Choose Course</option>
                
                                <option *ngFor="let web of websiteList">{{web}}</option>
                
                            </select>
                        </div> -->
                            <div class="input-group-append">
                              <button class="btn btn-info" type="button" (click)="search(courseValue,categoryValue)">Search</button>
                            </div>
                          </div>
                    </div>
                    <div class="col-12 col-sm-auto col-md-auto p-lr0">
                        <button type="button" class="btn btn-info">Filter</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-xs-12 p-tb20">
            <div class="row">
                <div class="col-12 col-sm-5 col-md-8 col-lg-9">
                    <p class="m-b0">10,234 instructors available</p>
                </div>
                <div class="col-12 col-sm-7 col-md-4 col-lg-3">
                    <div class="row">
                        <div class="col-sm-4 col-md-4">Sort By</div>
                        <div class="col-sm-8 col-md-8">
                            <select class="form-control form-control-sm">
                                <option>Newest Arrivals</option>
                                <option>Best Selling</option>
                                <option>Recommended</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-deck">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 mb-4">
            <div class="card m-lr0 h100p pt-4 card-custom" *ngFor="let mentor of mentors">
                <div class="text-center">
                    <a href="" class="card-link bg-img bdr-circle wh75 m-auto d-block" [ngStyle]="{'background-image':'url(' + mentor.imageUrl + ')'}"></a>
                    <h6 class="card-title mt-3"><a href="" class="card-link">{{mentor.userName}}</a> <br>
                        <small class="text-black-50">{{mentor.qualification}}</small>
                    </h6>
                    <div class="clearfix"></div>
                    <a href="" class="d-inline card-link mr-3"><i class="bi bi-heart-fill"></i></a>
                    <span class="d-inline badge badge-warning">Best Seller</span>                      
                </div>                    
                <div class="card-body text-center text-black-50">
                    <div class="d-flex justify-content-between border-bottom py-2 ">
                        <span>Students</span>
                        <span>50,274</span>
                    </div>
                    <div class="d-flex justify-content-between border-bottom py-2">
                        <span>Rating</span>
                        <span class="text-warning">
                            <i class="bi bi-star-fill"></i> 4.5
                            <small class="text-black-50">(1k+)</small>
                        </span>
                    </div>
                    <div class="d-flex justify-content-between pt-2">
                        <span>Courses</span>
                        <span>12</span>
                      </div>
                </div>
              </div>    
        </div>
        


    </div>
</div>