<div class="mentor-search-wrapper p20 bg-md-blue">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                <h3 class="text-white text-capitalize mb-0">Instructors</h3>
            </div>
            <div class="col-12 col-sm-9 col-md-9 col-lg-9 p-r0">
                <div class="row text-right">
                    <div class="col-12 col-sm-auto col-md-auto p-l0">
                        <button type="button" class="btn btn-info">Course</button>
                    </div>
                    <div class="col-12 col-sm-auto col-md-auto p-lr0">
                        <button type="button" class="btn btn-info">Category</button>
                    </div>
                    <div class="col-12 col-sm-6 col-md-8">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Find Instructor">
                            <div class="input-group-append">
                              <button class="btn btn-info" type="button">Search</button>
                            </div>
                          </div>
                    </div>
                    <div class="col-12 col-sm-auto col-md-auto p-lr0">
                        <button type="button" class="btn btn-info">Filter</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-xs-12 p-tb20">
            <div class="row">
                <div class="col-12 col-md-8 col-lg-9">
                    <p class="m-b0">10,234 instructors available</p>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="row">
                        <div class="col-md-4">Sort By</div>
                        <div class="col-md-8">
                            <select class="form-control form-control-sm">
                                <option>Newest Arrivals</option>
                                <option>Best Selling</option>
                                <option>Recommended</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-deck">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 mb-4">
            <div class="card m-lr0 h100p pt-4 card-custom">
                <div class="text-center">
                    <a href="" class="card-link">
                        <span class="bg-img bdr-circle wh75 m-auto d-block" style="background-image:url(https://images.unsplash.com/photo-1523240795612-9a054b0db644?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80);"></span>
                    </a>
                    <h6 class="card-title mt-3"><a href="" class="card-link">Karthik Ponnam</a> <br>
                        <small class="text-black-50">UX / UI Designing</small>
                    </h6>
                    <div class="clearfix"></div>
                    <a href="" class="d-inline card-link mr-3"><i class="bi bi-heart-fill"></i></a>
                    <span class="d-inline badge badge-warning">Best Seller</span>                      
                </div>                    
                <div class="card-body text-center text-black-50">
                    <div class="d-flex justify-content-between border-bottom py-2 ">
                        <span>Students</span>
                        <span>50,274</span>
                    </div>
                    <div class="d-flex justify-content-between border-bottom py-2">
                        <span>Rating</span>
                        <span class="text-warning">
                            <i class="bi bi-star-fill"></i> 4.5
                            <small class="text-black-50">(1k+)</small>
                        </span>
                    </div>
                    <div class="d-flex justify-content-between pt-2">
                        <span>Courses</span>
                        <span>12</span>
                      </div>
                </div>
              </div>    
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 mb-4">
            <div class="card m-lr0 h100p pt-4 card-custom">
                <div class="text-center">
                    <div class="bg-img bdr-circle wh75 m-auto" style="background-image:url(https://images.unsplash.com/photo-1503676260728-1c00da094a0b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1009&q=80);"></div>
                    <h6 class="card-title mt-3"><a href="" class="card-link">Karthik Ponnam</a> <br>
                        <small class="text-black-50">UX / UI Designing</small>
                    </h6>
                    <div class="clearfix"></div>
                    <a href="" class="d-inline card-link mr-3"><i class="bi bi-heart-fill"></i></a>
                    <!-- <span class="d-inline badge badge-warning">Best Seller</span>  -->
                </div>                    
                <div class="card-body text-center text-black-50">
                    <div class="d-flex justify-content-between border-bottom py-2 ">
                        <span>Students</span>
                        <span>50,274</span>
                    </div>
                    <div class="d-flex justify-content-between border-bottom py-2">
                        <span>Rating</span>
                        <span class="text-warning">
                            <i class="bi bi-star-fill"></i> 4.5
                            <small class="text-black-50">(1k+)</small>
                        </span>
                    </div>
                    <div class="d-flex justify-content-between pt-2">
                        <span>Courses</span>
                        <span>12</span>
                      </div>
                </div>
              </div>                   
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 mb-4">
            <div class="card m-lr0 h100p pt-4 card-custom">
                <div class="text-center">
                    <div class="bg-img bdr-circle wh75 m-auto" style="background-image:url(https://images.unsplash.com/photo-1434030216411-0b793f4b4173?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8c3R1ZHl8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&w=1000&q=80);"></div>
                    <h6 class="card-title mt-3"><a href="" class="card-link">Karthik Ponnam</a> <br>
                        <small class="text-black-50">UX / UI Designing</small>
                    </h6>
                    <div class="clearfix"></div>
                    <a href="" class="d-inline card-link mr-3"><i class="bi bi-heart-fill"></i></a>
                    <span class="d-inline badge badge-warning">Best Seller</span> 
                </div>                    
                <div class="card-body text-center text-black-50">
                    <div class="d-flex justify-content-between border-bottom py-2 ">
                        <span>Students</span>
                        <span>50,274</span>
                    </div>
                    <div class="d-flex justify-content-between border-bottom py-2">
                        <span>Rating</span>
                        <span class="text-warning">
                            <i class="bi bi-star-fill"></i> 4.5
                            <small class="text-black-50">(1k+)</small>
                        </span>
                    </div>
                    <div class="d-flex justify-content-between pt-2">
                        <span>Courses</span>
                        <span>12</span>
                      </div>
                </div>
              </div>                    
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 mb-4">
            <div class="card m-lr0 h100p pt-4 card-custom">
                <div class="text-center">
                    <div class="bg-img bdr-circle wh75 m-auto" style="background-image:url(https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);"></div>
                    <h6 class="card-title mt-3"><a href="" class="card-link">Karthik Ponnam</a> <br>
                        <small class="text-black-50">UX / UI Designing</small>
                    </h6>
                    <div class="clearfix"></div>
                    <a href="" class="d-inline card-link mr-3"><i class="bi bi-heart-fill"></i></a>
                    <!-- <span class="d-inline badge badge-warning">Best Seller</span>  -->
                </div>                    
                <div class="card-body text-center text-black-50">
                    <div class="d-flex justify-content-between border-bottom py-2 ">
                        <span>Students</span>
                        <span>50,274</span>
                    </div>
                    <div class="d-flex justify-content-between border-bottom py-2">
                        <span>Rating</span>
                        <span class="text-warning">
                            <span><i class="bi bi-star-fill"></i> 4.5</span>
                            <small class="text-black-50">(1k+)</small>
                        </span>
                    </div>
                    <div class="d-flex justify-content-between pt-2">
                        <span>Courses</span>
                        <span>12</span>
                      </div>
                </div>
              </div>                    
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 mb-4">
            <div class="card m-lr0 h100p pt-4 card-custom">
                <div class="text-center">
                    <div class="bg-img bdr-circle wh75 m-auto" style="background-image:url(https://images.unsplash.com/photo-1434030216411-0b793f4b4173?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8c3R1ZHl8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&w=1000&q=80);"></div>
                    <h6 class="card-title mt-3"><a href="" class="card-link">Karthik Ponnam</a> <br>
                        <small class="text-black-50">UX / UI Designing</small>
                    </h6>
                    <div class="clearfix"></div>
                    <a href="" class="d-inline card-link mr-3"><i class="bi bi-heart-fill"></i></a>
                    <span class="d-inline badge badge-warning">Best Seller</span> 
                </div>                    
                <div class="card-body text-center text-black-50">
                    <div class="d-flex justify-content-between border-bottom py-2">
                        <span>Students</span>
                        <span>50,274</span>
                    </div>
                    <div class="d-flex justify-content-between border-bottom py-2">
                        <span>Rating</span>
                        <span class="text-warning">
                            <i class="bi bi-star-fill"></i> 4.5
                            <small class="text-black-50">(1k+)</small>
                        </span>
                    </div>
                    <div class="d-flex justify-content-between pt-2">
                        <span>Courses</span>
                        <span>12</span>
                    </div>
                </div>
              </div>                    
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 mb-4">
            <div class="card m-lr0 h100p pt-4 card-custom">
                <div class="text-center">
                    <div class="bg-img bdr-circle wh75 m-auto" style="background-image:url(https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);"></div>
                    <h6 class="card-title mt-3"><a href="" class="card-link">Karthik Ponnam</a> <br>
                        <small class="text-black-50">UX / UI Designing</small>
                    </h6>
                    <div class="clearfix"></div>
                    <a href="" class="d-inline card-link mr-3"><i class="bi bi-heart-fill"></i></a>
                    <!-- <span class="d-inline badge badge-warning">Best Seller</span>  -->
                </div>                    
                <div class="card-body text-center text-black-50">
                    <div class="d-flex justify-content-between border-bottom py-2 ">
                        <span>Students</span>
                        <span>50,274</span>
                    </div>
                    <div class="d-flex justify-content-between border-bottom py-2">
                        <span>Rating</span>
                        <span class="text-warning">
                            <i class="bi bi-star-fill"></i> 4.5
                            <small class="text-black-50">(1k+)</small>
                        </span>
                    </div>
                    <div class="d-flex justify-content-between pt-2">
                        <span>Courses</span>
                        <span>12</span>
                      </div>
                </div>
              </div>                  
        </div>
    </div>
</div>